.container{
    background-color: rgb(0, 0, 0);
    color:white;
    font-size: 25px;
    align-items: center;
    text-align: center;
    width: 450px;
    border-top-right-radius: 20px;
 border-top-left-radius: 20px;
}
.heading{
    background-color: brown;
    margin-top: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.input{
    margin:10px;
    padding: 10px;
    font-size:15px;
    width: 200px;
}
button{
  background-color:rgb(152, 161, 105);
    margin:10px;
    padding: 10px;
    font-size:15px;
    border-radius: 10px;
}